@import "@/app/variables.module.scss";

.container {
	height: 100%;
}

.header {
	background-color: $primary-main-color;
	color: $primary-contrast-color;
	min-height: 50px;
	padding: 16px 0;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.leftContent {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-left: auto;
}
