$background-main-color: #FFFFFF;
$background-contrast-color: #1F1F1F;
$primary-main-color: #1F1F1F;
$primary-contrast-color: #FFFFFF;
$secondary-main-color: #0D19A3;
$secondary-contrast-color: #FFFFFF;
$surface-main-color: #EBEBEB;
$surface-contrast-color: #1F1F1F;
$text-primary-color: #1F1F1F;
$text-secondary-color: #8f8f8f;
$disabled-main-color: #8f8f8f;
$disabled-contrast-color: #FFFFFF;

$border-radius: 5px;

:export {
	secondaryColor: $secondary-main-color;
	textPrimaryColor: $text-primary-color;
	textSecondaryColor: $text-secondary-color;
}
