@import "@/app/variables.module";

.link {
	display: inline-block;
	cursor: pointer;
	transition: border-color .3s ease;
	border-bottom: 1px solid $secondary-main-color;

	&:hover {
		border-color: transparent;
	}
}
